.container{
    max-width: 300px;
    margin: 0 auto;
    
}
.grid{
    display: flex;
    flex-direction: column;
    background-color:  hsl(216, 50%, 16%);
    padding: 20px;
    border-radius: 10px;
    
}
.photo{
    max-width: 100%;
    border-radius: 10px;
}
.text{
margin-bottom: 10px;
display: flex;
flex-direction: column;
justify-content: space-around;   
}

.textvalor{
    display: flex;
    justify-content: space-between;
}
.creator{
    margin-top: 10px;
    display: flex;
    align-items: center;
    
}
.creator img{
    max-width: 35px;
    border: 3px solid hsl(0, 0%, 79%);
    border-radius: 30px;
    margin-right: 10px;
}
.name{
    margin-left: 4px;
    color: hsl(0, 0%, 100%);
}
h2{
    color:hsl(0, 0%, 100%);
    margin-bottom: 10px;
}
.valor{
    color:hsl(178, 100%, 50%);
}
p{
   color: hsl(0, 0%, 79%);
   margin-bottom: 10px;
}